################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/washrewards.slnx/FileContentIndex/bb497fdc-4e66-46f8-96bc-d9105f4a7985.vsidx
