.git
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/**/.gitignore
*.md
.editorconfig
.gitattributes
.gitignore
phpunit.xml
